<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Board</title>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        label {
            font-weight: bolder;
        }

        #memberPersonalityList {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .tag {
            display: flex;
            align-items: center;
            padding: 5px;
            background-color: #f1f1f1;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .tag span {
            margin-right: 10px;
        }

        .tag button {
            cursor: pointer;
        }
    </style>
    <script>

        function removeTag(button) {
            var tagDiv = button.closest(".tag");
            if (tagDiv) {
                tagDiv.remove();
            }
        }

        function addTag() {
            // 선택된 태그의 정보를 가져옵니다.
            var personalitySelect = document.getElementById("personalitySelect");
            var selectedPersonalityId = personalitySelect.value;
            var selectedPersonalityName = personalitySelect.options[personalitySelect.selectedIndex].text;

            // 이미 태그가 추가되었는지 확인합니다.
            var existingTags = document.querySelectorAll('#memberPersonalityList .tag span');
            for (var i = 0; i < existingTags.length; i++) {
                if (existingTags[i].textContent === '#' + selectedPersonalityName) {
                    return;
                }
            }

            // 새로운 태그 요소를 생성합니다.
            var tagDiv = document.createElement("div");
            tagDiv.className = "tag";

            var span = document.createElement("span");
            span.textContent = '#' + selectedPersonalityName;

            var hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "memberPersonalityList";
            hiddenInput.value = selectedPersonalityId;

            var deleteButton = document.createElement("button");
            deleteButton.textContent = "Delete";
            deleteButton.onclick = function() { removeTag(deleteButton); };

            // 태그 요소에 span, 숨겨진 입력 필드, 삭제 버튼을 추가합니다.
            tagDiv.appendChild(span);
            tagDiv.appendChild(hiddenInput);
            tagDiv.appendChild(deleteButton);

            // 생성한 태그 요소를 태그 목록에 추가합니다.
            var tagList = document.getElementById("memberPersonalityList");
            tagList.appendChild(tagDiv);

            // 선택된 태그의 값을 초기화합니다.
            personalitySelect.selectedIndex = 0;
        }

        function removeSubGoal(button) {
            // 클릭된 버튼의 부모 요소인 sub-goal 클래스를 가진 div 요소를 찾습니다.
            var subGoalDiv = button.closest(".sub-goal");

            // 찾은 div 요소를 삭제합니다.
            if (subGoalDiv) {
                subGoalDiv.remove();
            }
        }

        function addSubGoal() {
            var subGoalList = document.getElementById("subGoalList");

            // 새로운 서브 골의 ID를 -1로 설정합니다.
            var newIdValue = -1;

            // 현재 가장 높은 인덱스를 찾아서 1을 더한 값을 idx로 설정합니다.
            var idxInputs = document.querySelectorAll('[name^="idx"]');
            var maxIdx = 0;
            for (var i = 0; i < idxInputs.length; i++) {
                var idxValue = parseInt(idxInputs[i].value);
                if (!isNaN(idxValue) && idxValue >= maxIdx) {
                    maxIdx = idxValue;
                }
            }
            var newIdxValue = maxIdx + 1;

            // 새로운 서브 골을 감싸는 div 요소를 생성합니다.
            var newSubGoalDiv = document.createElement("div");
            newSubGoalDiv.className = "sub-goal";

            // 새로운 서브 골을 감싸는 row div 요소를 생성합니다.
            var newRowDiv = document.createElement("div");
            newRowDiv.className = "row";

            var newColDiv = document.createElement("div");
            newColDiv.className = "col";

            var newColAutoDiv = document.createElement("div");
            newColAutoDiv.className = "col-auto";

            // ID 입력 필드를 생성하고 설정합니다.
            var newIdInput = document.createElement("input");
            newIdInput.type = "text";
            newIdInput.className = "form-control";
            newIdInput.name = "id";
            newIdInput.value = newIdValue;
            newIdInput.hidden = true;

            // idx 입력 필드를 생성하고 설정합니다.
            var newIdxInput = document.createElement("input");
            newIdxInput.type = "text";
            newIdxInput.className = "form-control";
            newIdxInput.name = "idx";
            newIdxInput.value = newIdxValue;
            newIdxInput.hidden = true;

            // subGoal 입력 필드를 생성합니다.
            var newSubGoalInput = document.createElement("input");
            newSubGoalInput.type = "text";
            newSubGoalInput.className = "form-control";
            newSubGoalInput.name = "challengeSubGoals";
            newSubGoalInput.maxLength = 150;

            // 삭제 버튼을 생성합니다.
            var deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger";
            deleteButton.textContent = "Delete";
            deleteButton.onclick = function() {
                removeSubGoal(newSubGoalDiv);
            };

            // 생성한 입력 필드와 버튼을 서브 골 div에 추가합니다.
            newColDiv.appendChild(newIdInput);
            newColDiv.appendChild(newIdxInput);
            newColDiv.appendChild(newSubGoalInput);
            newColAutoDiv.appendChild(deleteButton);
            newRowDiv.appendChild(newColDiv);
            newRowDiv.appendChild(newColAutoDiv);

            // 서브 골 div를 서브 골 목록에 추가합니다.
            newSubGoalDiv.appendChild(newRowDiv);
            subGoalList.appendChild(newSubGoalDiv);
        }

        function calculateAverage() {
            var scores = [
                parseInt(document.getElementById('immediateExecution').value),
                parseInt(document.getElementById('physicalExertion').value),
                parseInt(document.getElementById('movementExtent').value),
                parseInt(document.getElementById('soloPerformance').value),
                parseInt(document.getElementById('preparationRequired').value),
                parseInt(document.getElementById('timeRequired').value)
            ];

            var sum = scores.reduce((a, b) => a + b, 0);
            var average = sum / scores.length;
            document.getElementById('averageScore').textContent = average.toFixed(2);
        }

        function confirmDelete() {
            var result = confirm("삭제하시겠습니까?");

            if (result) {
                return true; // 폼 제출
            } else {
                return false; // 폼 중지
            }
        }
    </script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">RCD-oper</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/challenge-card}" href="#">CHALLNEGE-CARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/member-personality}" href="#">MEMBER-PERSONALITY</a>
            </li>
        </ul>
        <a class="btn btn-danger ml-auto" th:href="@{/logout}" href="#">Logout</a>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="mb-4">CHALLENGE-CARD</h2>

    <form class="form" action="/challenge-card/update" method="POST">
        <div class="form-group">
            <label for="inputId">ID</label>
            <input readonly type="text" class="form-control" id="inputId" name="id" th:value="${card.id}" />
        </div>

        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" name="title" maxlength='100' th:value="${card.title}" />
            <span class="help-block text-muted">챌린지의 이름을 명확하고 구체적으로 입력해주세요. (최대 100자)</span>
        </div>

        <div class="form-group">
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" id="inputDescription" name="description" maxlength='250' th:value="${card.description}" />
            <span class="help-block text-muted">챌린지의 간단한 설명과 이를 통해 사용자가 경험했으면 하는 취지를 설명해주세요. (최대 250자)</span>
        </div>

        <div class="form-group">
            <label for="inputFinalGoal">Final Goal</label>
            <input type="text" class="form-control" id="inputFinalGoal" name="finalGoal" maxlength='100' th:value="${card.finalGoal}" />
            <span class="help-block text-muted">챌린지의 최종 목표를 명확하게 기술해주세요. (최대 100자)</span>
        </div>

        <div class="form-group">
            <label>Difficulty</label>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="difficulty1" name="difficulty" value="1" th:checked="${card.difficulty == 1}" />
                        <label class="form-check-label" for="difficulty1">1</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="difficulty2" name="difficulty" value="2" th:checked="${card.difficulty == 2}" />
                        <label class="form-check-label" for="difficulty2">2</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="difficulty3" name="difficulty" value="3" th:checked="${card.difficulty == 3}" />
                        <label class="form-check-label" for="difficulty3">3</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="difficulty4" name="difficulty" value="4" th:checked="${card.difficulty == 4}" />
                        <label class="form-check-label" for="difficulty4">4</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="difficulty5" name="difficulty" value="5" th:checked="${card.difficulty == 5}" />
                        <label class="form-check-label" for="difficulty5">5</label>
                    </div>
                </div>
            </div>
            <span class="help-block text-muted">아래 계산기를 사용해 챌린지 카드의 난이도를 산정해주세요.</span>
        </div>

        <div class="container">
            <h4 class="mt-4">Difficulty calculator</h4>
            <div class="row mt-4">
                <div class="col">
                    <label for="immediateExecution">지금 당장 수행 가능 여부</label>
                    <select class="form-control" id="immediateExecution">
                        <option value="1">1: 즉시 수행 가능</option>
                        <option value="2">2: 1~2시간 안에 수행 가능</option>
                        <option value="3">3: 당일 수행 가능</option>
                        <option value="4">4: 당일 수행 불가능</option>
                        <option value="5">5: 많은 계획과 준비 후 수행 가능</option>
                    </select>
                </div>
                <div class="col">
                    <label for="physicalExertion">체력 소모 정도</label>
                    <select class="form-control" id="physicalExertion">
                        <option value="1">1: 체력 소모 없음</option>
                        <option value="2">2: 약간의 움직임 필요</option>
                        <option value="3">3: 가벼운 운동 정도의 체력 소모</option>
                        <option value="4">4: 격렬한 운동 정도의 체력 소모</option>
                        <option value="5">5: 한계까지 몰아부칠 정도의 체력소모</option>
                    </select>
                </div>
                <div class="col">
                    <label for="movementExtent">이동하는 정도</label>
                    <select class="form-control" id="movementExtent">
                        <option value="1">1: 그 자리에서 수행 가능</option>
                        <option value="2">2: 근거리 이동으로 수행 가능 (동네)</option>
                        <option value="3">3: 중거리 이동으로 수행 가능 (지역 이동)</option>
                        <option value="4">4: 국내 여행이 필요한 경우</option>
                        <option value="5">5: 해외 여행이 필요한 경우</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <label for="soloPerformance">혼자 수행 가능여부</label>
                    <select class="form-control" id="soloPerformance">
                        <option value="1">1: 혼자 수행 가능</option>
                        <option value="2">2: 1인 ~ 2인 이상 필요</option>
                        <option value="3">3: 3인 이상 필요</option>
                        <option value="4">4: 다인 필요.</option>
                        <option value="5">5: 대규모 인원 필요.</option>
                    </select>
                </div>
                <div class="col">
                    <label for="preparationRequired">준비물 필요 여부</label>
                    <select class="form-control" id="preparationRequired">
                        <option value="1">1: 준비물 필요 없음</option>
                        <option value="2">2: 집에 누구나 있을 법한 준비물</option>
                        <option value="3">3: 저가 (3만원 이하) 소비가 필요한 경우</option>
                        <option value="4">4: 중저가 (10만원 이하) 소비가 필요한 경우.</option>
                        <option value="5">5: 고가 (10만원 이상) 소비가 필요한 경우.</option>
                    </select>
                </div>
                <div class="col">
                    <label for="timeRequired">시간 소요 정도</label>
                    <select class="form-control" id="timeRequired">
                        <option value="1">1: 1시간 이하</option>
                        <option value="2">2: 3시간 이하</option>
                        <option value="3">3: 1일 소요.</option>
                        <option value="4">4: 1주일 이하 소요</option>
                        <option value="5">5: 1주일 이상 소요</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <button type="button" class="btn btn-primary" onclick="calculateAverage()">평균 점수 계산</button>
                </div>
                <div class="col text-center">
                    <p>평균 점수: <span id="averageScore">-</span></p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Challenge Sub Goals</label>
            <div id="subGoalList">
                <div th:each="subGoal, subGoalStat : ${card.challengeSubGoals}" class="sub-goal">
                    <div class="row">
                        <div class="col">
<!--
                            <input type="text" class="form-control" name="id" th:value="${subGoal.id}" hidden />
-->
                            <input type="text" class="form-control" name="idx" th:value="${subGoalStat.index}" hidden />
                            <input type="text" class="form-control" name="challengeSubGoals" maxlength='150' th:value="${subGoal.subGoal}" />
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger" onclick="removeSubGoal(this)">Delete</button>
                        </div>
                    </div>
                </div>
                <span class="help-block text-muted">최종 목표를 달성하기까지 수행해야할 중간 과제들을 만들어주세요. 사소한 과제라도 좋아요.</span>
            </div>
            <button type="button" class="btn btn-primary" onclick="addSubGoal()">Add Sub Goal</button>
        </div>

        <div class="form-group">
            <label for="categorySelect">Challenge Category</label>
            <select class="form-control" id="categorySelect" name="challengeCardCategoryId">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"
                        th:selected="${category.id == card.ChallengeCardCategory.id}"></option>
            </select>
            <span class="help-block text-muted">챌린지 카테고리를 선택해주세요.</span>
        </div>

        <div class="form-group">
            <label>Member Personality Tags</label>
            <div id="memberPersonalityList">
                <!-- 기존 태그 표시 -->
                <div th:each="personality : ${selectedPersonalities}" class="tag">
                    <span th:text="'#' + ${personality.title}"></span>
                    <input type="hidden" name="memberPersonalityList" th:value="${personality.id}" />
                    <button type="button" onclick="removeTag(this)">Delete</button>
                </div>
            </div>
            <select id="personalitySelect">
                <!-- 여기에 선택 가능한 태그 목록을 추가 -->
                <option th:each="personality : ${allPersonalities}" th:value="${personality.id}" th:text="${personality.title}"></option>
            </select>
            <button type="button" onclick="addTag()">Add Tag</button>
            <div>
                <span class="help-block text-muted">특성 태그를 선택해주세요.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAssignScore">Assign Score</label>
            <input type="number" class="form-control" id="inputAssignScore" name="assignScore" min="0" max="100" th:value="${card.assignScore}" />
            <span class="help-block text-muted">우선 부여 점수를 부여해주세요. 챌린지 카드는 랜덤으로 부여되지만 우선 부여점수가 높을 수록 조금 더 높은 확률로 부여됩니다.</span>
        </div>

        <div class="form-group">
            <label for="inputCreateDtm">Create Date Time</label>
            <input readonly type="text" class="form-control" id="inputCreateDtm" name="createDtm" th:value="${card.createDtm}" />
        </div>

        <div class="form-group">
            <label for="inputExperience">Experience</label>
            <input type="number" class="form-control" id="inputExperience" name="experience" min="1" max="100" th:value="${card.experience}" />
            <span class="help-block text-muted">과제를 완료하고 받게될 경험치를 산정해주세요.</span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <form class="form" action="/challenge-card/delete" method="POST" style="margin-top: 20px" onsubmit="return confirmDelete();">
        <input hidden type="text" class="form-control" name="id" th:value="${card.id}" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>



</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
